@charset "UTF-8";
body{
	margin: 0;
}
.wrapper{
	width: 95%;
	margin: auto;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header h3{
	font-family: 'Arvo', serif;	
	letter-spacing: 1px;
	user-select: none;
}
.header ul{
	display: flex;
	list-style: none;
}
.header li{
	font-family: 'Arvo', serif;	
	font-weight: bold;
	padding: 20px;
}
.header a{
	color: #000;
	text-decoration: none;
	user-select: none;
}
.header a:hover{
	color: #000;
	font-weight: bold;
	text-decoration: none;
	user-select: none;
}
.home{
	display: flex;
	justify-content: space-between;
	padding-bottom: 200px;
}
.home h1{
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	padding-top: 150px;
	user-select: none;
}
.home img{
	width: 70%;
	height: 800px;
}
.main{
	display: flex;
	justify-content: center;
	padding-bottom: 150px;
}
.main-content{
	padding: 0 100px;
}
.main-content h2{
	font-family: 'Arvo', serif;	
	font-weight: lighter;
	user-select: none;
}
.main-content img{
	width: 600px;
	height: 404px;
	animation: fadeIn 3s ease 0s 1 normal;
	-webkit-animation: fadeIn 3s ease 0s 1 normal;
}
@keyframes fadeIn{
	0% {opacity: 0}
	100% {opacity: 1}
}
.explanation{
	padding-top: 65px;
}
.explanation p{
	width: 80%;
	margin: auto;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: bold;
	user-select: none;
}
.explanation .detail-explanation{
	font-size: 13px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: bold;
}
.footer{
	width: 100%;
	height: 150px;
}
.footer h3{
	font-family: 'Arvo', serif;	
	text-align: center;
	padding: 20px;
	letter-spacing: 1px;
	user-select: none;
}
.footer ul{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}
.footer li{
	font-family: 'Arvo', serif;	
	font-weight: bold;
	text-align: center;	
	padding: 0 50px;
	user-select: none;
}
.top-link{
	text-align: right;
}
.footer a{
	text-decoration: none;
	color: #000;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: bold;
	padding: 10px;
}
