@charset "UTF-8";
body{
	margin: 0;
}
.wrapper{
	width: 90%;
	margin: auto;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title h3{
	font-family: 'Arvo', serif;	
	letter-spacing: 1px;
	user-select: none;
}
.header ul{
	display: flex;
	list-style: none;
}
.header li{
	padding: 20px;
	font-family: 'Arvo', serif;	
}
.header a{
	color: #000;
	text-decoration: none;
	user-select: none;
}
.header a:hover{
	color: #000;
	font-weight: bold;
	text-decoration: none;
	user-select: none;
}
#home{
	display: flex;
	justify-content: space-between;
	padding-bottom: 200px;
}
.home-content h1{
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	padding-top: 150px;
}
.home-content ul{
	list-style: none;
	padding-top: 220px;
	padding-left: 0;
}
.home-content li{
	padding-top: 10px;
}
#home img{
	width: 70%;
	height: 800px;
}
.main{
	display: flex;
	padding-bottom: 150px;
}
.main-content h2{
	font-family: 'Arvo', serif;	
	font-weight: lighter;
	border-left: 6px solid #bdb76b;
	padding-left: 10px;
}
.main-content img{
	width: 600px;
	height: 404px;
}
.explanation{
	padding-top: 50px;
	padding-left: 10%;
}
.explanation p{
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: bold;
}
.explanation .detail-explanation{
	font-size: 13px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: bold;
}
.footer{
	width: 100%;
	height: 150px;
	background-color: #000;
}
.footer h3{
	color: #fff;
	font-family: 'Arvo', serif;	
	text-align: center;
	padding: 20px;
	letter-spacing: 1px;
	user-select: none;
}
.footer ul{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}
.footer li{
	color: #fff;
	font-family: 'Arvo', serif;
	text-align: center;	
	padding: 0 50px;
}
.border{
	border-right: 1px solid #fff;
}
