@charset "UTF-8";
.wrapper{
	width: 320px;
	height: 800px;
	margin: auto;
}
.header{
	width: 95%;
	height: 80px;
	margin: auto;
	align-items: center;
}
.header h3{
	color: #000;
	font-size: 12px;
	font-family: 'Arvo', serif;	
	font-weight: lighter;
	text-align: center;
	margin: 10px;
}
.header ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
}
.header li{
	font-size: 6px;
	padding: 5px;
}
.header a{
	text-decoration: none;
	color: #000;
	font-family: 'Arvo', serif;	
	font-weight: bold;
}
.home h1{
	color: #000;
	font-size: 11px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	text-align: center;
	margin: 8px 0;
}
img{
	width: 320px;
	height: 200px;
}
.main{
	padding: 50px 0;
}
.main h2{
	font-size: 13px;
	font-family: 'Arvo', serif;	
	margin: 10px 0;
}
.main p{
	font-size: 9px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: bold;
}
.footer h3{
	font-size: 12px;
	text-align: center;
}
.footer ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer li{
	text-decoration: none;
	color: #000;
	font-size: 8px;
	font-family: 'Arvo', serif;	
	font-weight: bolder;
	padding: 5px;
	user-select: none;
}
.top-link{
	text-align: right;
}
.footer a{
	text-decoration: none;
	color: #000;
	font-size: 8px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: bold;
	padding: 10px;
}
